.playField {
	aspect-ratio: 1;
	overflow: hidden;

	width: 100%;
	max-width: 600px;
	
	height: 100%;
	max-height: 500px;

	border-radius: 10px;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);

	-webkit-box-shadow: 0 0 10px var(--color-dark);
	-moz-box-shadow: 0 0 10px var(--color-dark);
	box-shadow: 0 0 10px var(--color-dark);

	.cell {
		cursor: pointer;
		transition: background-color 250ms;

		background-color: inherit;

		&:disabled {
			cursor: not-allowed;
		}

		&:not(:disabled)&:hover {
			background-color: var(--color-cell-hover);
		}
		
		border: 1px solid var(--color-dark);

		&:nth-child(-n + 3) {
			border-top: none;
		} 

		&:nth-child(3n) {
			border-right: none;
		}

		&:nth-child(3n  - 2) {
			border-left: none;
		} 

		&:nth-child(n + 7) {
			border-bottom: none;
		}

		.cell-value {
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				width: 50%;
				height: 50%;
				aspect-ratio: 1;

				stroke: var(--color-dark);
			}
		}
	}
}

[data-theme='dark'] {
	.playField {
		-webkit-box-shadow: 0 0 10px var(--color-light);
		-moz-box-shadow: 0 0 10px var(--color-light);
		box-shadow: 0 0 10px var(--color-light);

		.cell {
			

			border-color: var(--color-border);

			.cell-value {
				svg {
					stroke: var(--color-light);
				}
			}
		}
	}
}
