.playFieldSidebar {
	width: 100%;
	min-width: 100px;
	max-width: 250px;

	position: absolute;
	top: 25px;
	right: 25px;

	display: grid;
	align-items: center;
	
	grid-template-columns: 0.4fr 0.6fr;
	row-gap: 12px;
	column-gap: 12px;

	padding: 6px 12px;

	border-radius: 6px;
	border: 1px solid var(--color-border);
	-webkit-box-shadow: 4px 4px 16px 0px var(--color-border);
	-moz-box-shadow: 4px 4px 16px 0px var(--color-border);
	box-shadow: 4px 4px 16px 0px var(--color-border);


	.surrender {
		margin-left: auto;

		transition: opacity 250ms;
		background-color: transparent;

		svg {
			width: 25px;
			height: 20px;
			fill: var(--color-surrender);
		}

		&:hover {
			opacity: 0.8;
		}
	}

	.turn-timer {
		margin-right: auto;
	}

	.current-turn {
		grid-column-start: 1;
		grid-column-end: 3;
		
		font-size: 16px;

		&.red {
			color: var(--color-red);
		}

		&.green {
			color: var(--color-green);
		}
	}

	.ai-level-toggler-wrapper {
		width: max-content;
		white-space: nowrap;

		grid-column-start: 1;
		grid-column-end: 3;
	}
}