html {
	&[data-theme='dark'] {
		--color-backgound: #f1faee;
    --color-border: #1d3557;
    
    --color-cell-hover: #fefae0;
    --color-cell-value: #003049;

    --color-surrender: #6c757d;

    /* colors */
    --color-red: #e63946;
    --color-green: #57cc99;
  }

  &[data-theme='light'] {
    --color-backgound: #f1faee;
    --color-border: #1d3557;

    --color-cell-hover: #fefae0;
    --color-cell-value: #003049;

    --color-surrender: #6c757d;

    /* colors */
    --color-red: #e63946;
    --color-green: #57cc99;
  }
}