@value system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

@value tablet: 768px;
@value tablet-min: 600px;
@value phone: 450px;
@value phone-max: 550px;

html {
	--transform-menu: translateY(0);
  --transition-duration: 0.3s;

  --transform-toast: 0;
  --toast-transition-duration: 0;
}