.app-sidebar {
	display: flex;
	flex-direction: column;

	position: fixed;
	left: 15px;
	top: 15px;

	max-width: 270px;
	width: 100%;

	background-color: rgba(255, 255, 255, 0.4);

	border-radius: 5px;
	-webkit-box-shadow: 4px 4px 16px 0px var(--color-border);
	-moz-box-shadow: 4px 4px 16px 0px var(--color-border);
	box-shadow: 4px 4px 16px 0px var(--color-border);

	a, .app-auth-btn {
		box-sizing: border-box;
		padding: 14px;

		text-decoration: none;

		width: 100%;

		display: flex;

		align-items: flex-start;

		font-size: 18px;
		font-weight: 500;
		color: var(--color-border);

		&:hover, &.active {
			background-color: var(--color-accent);
		}
	}
}