.ai-level-toggler {
	display: flex;
	width: fit-content;
	position: relative;
	column-gap: 3px;
	padding: 4px 8px;
	border-radius: 99px;

	border: 1px solid var(--color-border);

	* {
		z-index: 2;
	}

	input[type="radio"] {
		display: none;
	}

	.label {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0px 9px;
		font-size: 12pxrem;
		font-weight: 500;
		border-radius: 99px;
		cursor: pointer;
		transition: color 0.35s ease-in-out;

		color: var(--color-gray-middle);
	}

	input[type="radio"] {
		&:checked {
			& + label {
				color: var(--color-gray-dark);
			}
		}

		&:disabled {
			& + label {
				opacity: 0.8;
				color: var(--color-gray-dark);
				cursor: not-allowed;
			}
		}
	}
}

[data-theme='dark'] {
	.ai-level-toggler {
		.label {
			color: var(--color-gray-middle);
		}

		input[type="radio"] {
			&:checked {
				& + label {
					color: var(--color-gray-light);
				}
			}
	
			&:disabled {
				& + label {
					opacity: 0.8;
					cursor: not-allowed;
				}
			}
		}
	}
}